@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .text-gradient {
    background: linear-gradient(to right, #FAF398, #C5B358, #926F34,#4a3c1eff, #2e1d0c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}


.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.bodoni-regular {
  font-family: "Bodoni Moda SC", sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: "Poppins" ;
    background-color: #fff;
    width: 100vw;
}

.slider .thumb {
  width: 15px;
  height: 15px;
  cursor: pointer;
  background-color: #27272a;
  border-radius: 50%;
  border: 2px solid #27272a;
}

.slider .track-1 {
  background: #27272a;
  height: 8px;
  border-radius: 5px;
}