@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .text-gradient {
    background: linear-gradient(to right, #FAF398, #C5B358, #926F34,#4a3c1eff, #2e1d0c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}


.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

html, body {
    margin: 0;
    padding: 0;
    font-family: "Poppins" ;
    background-color: #000;
    width: 100vw;
}